<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <a class="navbar-brand" href="/">ThiefMD Themes</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#thief-menu" aria-controls="thief-menu" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="thief-menu">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item {% if page.title == "Thief Markdown Editor" %}active{% endif %}"><a href="/" class="nav-link">Home</a></li>
            <li class="nav-item {% if page.title == "Themes" %}active{% endif %}"><a href="/themes" class="nav-link">Themes</a></li>
            <li class="nav-item {% if page.title == "Export CSS" %}active{% endif %}"><a href="/export-css" class="nav-link">Export CSS</a></li>
            <li class="nav-item {% if page.title == "How To" %}active{% endif %}"><a href="/howto" class="nav-link">How To</a></li>
        </ul>
        <ul class="navbar-nav ml-auto">
            <li class="nav-item"><a href="https://github.com/ThiefMD/theme-generator/releases" class="nav-link">Theme Generator</a></li>
            <li class="nav-item"><a href="https://github.com/ThiefMD/theme-generator" class="nav-link">GitHub</a></li>
        </ul>
    </div>
</nav>